<div>
<p><%= $player_one.name %> vs. <%= $player_two.name %></p>
<p><%= $player_two.name %> HP: 50</p>
<form action="/attack" method="post">
  <input type="submit" name="attack" value="Attack Player 2!">
</form>
</div>
